<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CloudFlowz</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
    <script>
    $(function() {

    	 $('.selectpicker').on('change', function(){
     	    var selected = $(this).find("option:selected").val();
     	    //var str = location.pathname.substr(location.pathname.lastIndexOf('/') + 1);
     	    //var newPath = ((location.pathname).replace(new RegExp(str),''));
     	    //alert(location.protocol + '//' + location.host + '/' + str + newPath + selected);
     	    //alert(location.protocol + '//' + location.host + location.pathname);
      	    window.location.href = location.protocol + '//' + location.host + location.pathname;
     	  });
    	  
    	});
    </script>       
    
</head>
<body>
<div class="container">    
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>My Flowz Stepz List</h2>
    <label>Select a Flow:</label> 
    <select id="currFlowz" name="currFlowz" class="selectpicker">
		<option th:each="flow : ${flowz}" 
			  	th:value="${flow.id}" 			  
			  	th:text="${flow.flowz_name}"
			 	th:selected="${flow.id == currId}"/>
	</select>
		
    <div th:if="${not #lists.isEmpty(flowzActionzParamz)}">        
        <table class="table table-striped">
            <tr>
                <th>Actionz Timestamp</th>
                <th>Actionz Name</th>
                <th>Actionz Destination</th>
                <th>Subject Text</th>
                <th>Body Text</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="flowActionzParamz : ${flowzActionzParamz}">
                <td th:text="${flowActionzParamz.initialTmstmp}">Actionz Timestamp</td>
                <td th:text="${flowActionzParamz.actionz_name}">Actionz Name</td>
                <td th:text="${flowActionzParamz.userz_endpointz_id}">Actionz Destination</td>
                <td th:text="${flowActionzParamz.param1}">Subject Text</td>
                <td th:text="${flowActionzParamz.param2}">Body Text</td>
                <td><a th:href="${'/flowzActionzParamz/' + flowActionzParamz.id}">View</a></td>
                <td><a th:href="${'/flowzActionzParamz/edit/' + flowActionzParamz.id}">Edit</a></td>
                <td><a th:href="${'/flowzActionzParamz/delete/' + flowActionzParamz.id}">Delete</a></td>
            </tr>
        </table>
    </div>
    
    <div th:if="${#lists.isEmpty(flowzActionzParamz)}">
        <h3>My FlowzStepz List</h3>
        <table class="table table-striped">
            <tr>
                <th>You have no Flowz Stepz</th>
            </tr>
        </table>
    </div>    
    
    
</div>

</body>
</html>