<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title>CloudFlowz</title>
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
  </head>
  <body style="background: url(images/cloudflowz.jpg)">
    <div tiles:fragment="content">
        <form name="doLogin" th:action="@{/login}" method="post">               
            <fieldset>
                <legend>Please Login</legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    <span style="color:red">Invalid username and password.</span>
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    <span style="color:red">You have been logged out.</span>
                </div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>        
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>    
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                    <a th:href="${'/register'}">Register for Flowz</a>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdI-AgUAAAAABEzPp2QKaagRC4HbMeEfnTcQque"></div>
            </fieldset>
        </form>
    </div>
  </body>
</html>